
<section class="user-experience" id="user-experience" style="padding-top: 7em;">
    <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h1 id="user-experience-heading">
              <strong>User experience</strong>
            </h1>
          </div>
        </div>
        <hr>
        <p>Based on previous conversations, we have managed to collect some statistics regarding the preferences of our users.</p>
        <div class="row">
          <div class="col-sm-4 text-center statistic-tile">
              <div class="tile blue">
                <h3 class="title">Heart disease prediction</h3>
                <img src="../../assets/images/statistics/users_asked_for_cvd_prediction.png" class="statistics-tile-image img-fluid ">
                <!-- <p>Short, sweet data point goes here.</p> -->
              </div>
          </div>
          <div class="col-sm-4 text-center statistic-tile">
              <div class="tile blue">
                <h3 class="title">Users found advice useful</h3>
                <img src="../../assets/images/statistics/users_found_advice_useful.png" class="statistics-tile-image img-fluid ">
                <!-- <p>Short, sweet data point goes here.</p> -->
              </div>
          </div>
          <div class="col-sm-4 text-center statistic-tile">
            <div class="tile blue">
              <h3 class="title">Users asked FAQ</h3>
              <img src="../../assets/images/statistics/users_asked_faq.png" class="statistics-tile-image img-fluid ">
              <!-- <p>Short, sweet data point goes here.</p> -->
            </div>
        </div>
        </div>

        <div class="row">
          <div class="col text-center statistic-tile">
              <div class="tile blue">
                <h3 class="title">Increase in the number of users in the last year</h3>
                <img src="../../assets/images/statistics/graph_queries_by_month.png" class="statistics-tile-image-graph img-fluid">
                <!-- <p>Short, sweet data point goes here.</p> -->
              </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4 text-center offset-md-1 statistic-tile">
              <div class="tile blue">
                <h3 class="title"> Prediction ratio </h3>
                <img src="../../assets/images/statistics/cvd_prediction_ratio.png" class="statistics-tile-image-ratio img-fluid ">
                <!-- <p>Short, sweet data point goes here.</p> -->
              </div>
          </div>

          <div class="col-md-4  text-center offset-md-2 statistic-tile">
              <div class="tile blue">
                <h3 class="title">Blood pressure distribution</h3>
                <img src="../../assets/images/statistics/users_blood_pressure.png" class="statistics-tile-image-ratio img-fluid ">
                <!-- <p>Short, sweet data point goes here.</p> -->
              </div>
          </div>
        </div>




          

        
      </div>

</section>