@import "~bootstrap-icons/font/bootstrap-icons.css";
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

 body {
	 font-size: 14px;
	 line-height: 1.5em;
	 font-weight: 400;
}

#user-experience{
	background-color: aliceblue;
}

.bi-people{
	font-size:36px;
}

 strong {
	 font-weight: 600;
}
 h1, h2, h3, h4, h5, h6 {
	 line-height: 1.5em;
	 font-weight: 300;
}

.row{
    padding-top:2em;
}

 .tile {
	 width: 100%;
	 display: inline-block;
	 box-sizing: border-box;
	 padding: 20px;
	 margin-bottom: 10px;
     box-shadow: 5px 5px 5px rgb(198, 196, 196);
     border-radius: 5px;
	 border-style: inset;
}
 .tile .title {
	 margin-top: 0px;
	 color:black;
	 font-weight:400;
}

.tile p {
	color:black;
}
 .tile.purple, .tile.blue, .tile.red, .tile.orange, .tile.green {
	 color: #fff;
}
 .tile.purple {
	 background: #5133ab;
}
 .tile.purple:hover {
	 background: #3e2784;
}
 .tile.red {
	 background: #ac193d;
}
 .tile.red:hover {
	 background: #7f132d;
}
 .tile.green {
	 background: #00a600;
}
 .tile.green:hover {
	 background: #007300;
}
 .tile.blue {
	 /* background: #2672ec; */
     /* background: #0A58D4; */
	 background: rgb(255, 255, 255);

}
 .tile.blue:hover {
	 /* background: #125acd; */
     background: #b2cefa;
}
 .tile.orange {
	 background: #dc572e;
}
 .tile.orange:hover {
	 background: #b8431f;
}
 
.statistics-tile-image{
    /* max-width: 300px;
    height:auto; */
	max-width: 70%;
}

.statistics-tile-image-ratio{
	max-width: 100%
}

.statistics-tile-image-graph{
	max-width: 70%;
}

.statistic-tile{
    /* border: 1px solid;*/
    /* margin: 20px; */
    /* box-shadow: 10px 10px 5px #aaaaaa; */
    
}

hr{
	/* border: 30px solid #ED1B30; */
	height:0.3em;
	color:#ED1B30;
	opacity: 1;
	margin-bottom: 50px;
}

hr:hover{
	color:#6c757d;
}


#user-experience-heading{
	color:#2E333C;
}

p{
	margin-bottom: 0px;
	color:#737373;
	font-size: 1.2em;
	font-family: 'PT Sans', sans-serif;
}

h3{
	font-size: 1.2em;
}