<section class="home" id="home">
  
    <div class="image">
        <ul class="slides">
            <input type="radio" name="radio-btn" id="img-1" checked />
            <li class="slide-container">
            <div class="slide">
              <img src="../../assets/images/1.jpg" />
                </div>
            <div class="nav">
              <label for="img-6" class="prev">&#x2039;</label>
              <label for="img-2" class="next">&#x203a;</label>
            </div>
            </li>
        
            <input type="radio" name="radio-btn" id="img-2" />
            <li class="slide-container">
                <div class="slide">
                  <img src="../../assets/images/2.jpg" />
                </div>
            <div class="nav">
              <label for="img-1" class="prev">&#x2039;</label>
              <label for="img-3" class="next">&#x203a;</label>
            </div>
            </li>
        
            <input type="radio" name="radio-btn" id="img-3" />
            <li class="slide-container">
                <div class="slide">
                  <img src="../../assets/images/3.jpg" />
                </div>
            <div class="nav">
              <label for="img-2" class="prev">&#x2039;</label>
              <label for="img-4" class="next">&#x203a;</label>
            </div>
            </li>
        
            <input type="radio" name="radio-btn" id="img-4" />
            <li class="slide-container">
                <div class="slide">
                  <img src="../../assets/images/4.jpg" />
                </div>
            <div class="nav">
              <label for="img-3" class="prev">&#x2039;</label>
              <label for="img-5" class="next">&#x203a;</label>
            </div>
            </li>
        
            <input type="radio" name="radio-btn" id="img-5" />
            <li class="slide-container">
                <div class="slide">
                  <img src="../../assets/images/5.jpg" />
                </div>
            <div class="nav">
              <label for="img-4" class="prev">&#x2039;</label>
              <label for="img-6" class="next">&#x203a;</label>
            </div>
            </li>
        
            <input type="radio" name="radio-btn" id="img-6" />
            <li class="slide-container">
                <div class="slide">
                  <img src="../../assets/images/6.jpg" />
                </div>
            <div class="nav">
              <label for="img-5" class="prev">&#x2039;</label>
              <label for="img-1" class="next">&#x203a;</label>
            </div>
            </li>
        
            <li class="nav-dots">
              <label for="img-1" class="nav-dot" id="img-dot-1"></label>
              <label for="img-2" class="nav-dot" id="img-dot-2"></label>
              <label for="img-3" class="nav-dot" id="img-dot-3"></label>
              <label for="img-4" class="nav-dot" id="img-dot-4"></label>
              <label for="img-5" class="nav-dot" id="img-dot-5"></label>
              <label for="img-6" class="nav-dot" id="img-dot-6"></label>
            </li>
        </ul>
        
    </div>
  
    <div class="content">
      <h3>Spreading <mark class="highlight-words">awareness</mark>, one step at a time</h3>
      <p>Talk with our chatbot and find out how to prevent developing a heart disease!</p>
      <a href="#" class="btn"> contact us <span class="fas fa-chevron-right"></span> </a>
  </div>


  </section>
  
  <section class="about" id="about">

    <h1 class="heading"> About us </h1>

    <div class="row">

        <div class="image">
            <img src="../../assets/images/chat-bot-animation.svg" alt="">
        </div>

        <div class="content">
            <h3>Medical Chatbot takes care of your healthy life</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure ducimus, quod ex cupiditate ullam in assumenda maiores et culpa odit tempora ipsam qui, quisquam quis facere iste fuga, minus nesciunt.</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus vero ipsam laborum porro voluptates voluptatibus a nihil temporibus deserunt vel?</p>
            <a href="#" class="btn"> learn more <span class="fas fa-chevron-right"></span> </a>
        </div>

    </div>

  </section>


  <section class="how-it-works" id="how-it-works">
    <h1 class="heading heading-black"> How it works </h1>
    <div class="card-deck row">
        <div class="card text-center col mb-2 border-0">
            <img class="card-img-top img-fluid resize-tile-image mx-auto" src="../../assets/images/Chat-Message-Transparent-Images.png" alt="Card image cap" style="width: 100px;">
            <div class="card-body">
              <h5 class="card-title guide-headers">Talk with our assistant</h5>
              <p class="card-text guide-description">Have a conversation with our chatbot by answering some health-related questions or by enquiring a question from cardiology.</p>
            </div>
        </div>

        <div class="card text-center col mb-2 border-0">
          <img class="card-img-top img-fluid resize-tile-image mx-auto" src="../../assets/images/stethoscope-image.png" alt="Card image cap" style="width: 100px;">
          <div class="card-body">
            <h5 class="card-title guide-headers">Prevent heart diseases</h5>
            <p class="card-text guide-description">Find your risk of developing a heart disease, ways to prevent it or educate yourself about this topic.</p>
          </div>
        </div>

        <div class="card text-center col mb-2 border-0">
          <img class="card-img-top img-fluid resize-tile-image mx-auto" src="../../assets/images/heart-hands.png" alt="Card image cap" style="width: 100px;">
          <div class="card-body">
            <h5 class="card-title guide-headers">Improve your lifestyle</h5>
            <p class="card-text guide-description">Make changes to your habits and lifestyle to improve your general health and become more knowleadgeable about heart diseases.</p>
          </div>
        </div>

    </div>
  </section>