@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Philosopher:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Genos:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');


.guide-headers{
    padding-top: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    font-size: 1.5em;
    
}

.guide-description{
    padding: 0.7em 0.5em;
    font-size: 1.2em;
    color:#737373;
}
.heading-black{
    color: black !important;
}


*{
    font-family: 'PT Sans', sans-serif;
     margin:0; 
     padding: 0;  
    box-sizing: border-box;
    transition: all .2s ease-out;
    text-decoration: none;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}


.home{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:1.5rem;
    padding: 10rem 0rem ;
    

}

.home .image{
    flex:1 1 45rem;
}

.home .image img{
    width: 100%;
}

.home .content{
    flex:1 1 45rem;
}

.home .content h3{
    font-size: 3.5rem;
    /* text-align: center; */
    /* font-family: 'Aclonica', sans-serif; */
    /* font-family: 'Philosopher', sans-serif; */
    /* font-family: 'Merriweather Sans', sans-serif; */
    font-family: 'Open Sans', sans-serif;
    /* color:var(--black); */
    line-height: 1.8;
    /* text-shadow: .4rem .4rem 0 rgba(0, 0, 0, .2); */
    text-shadow: .18rem .18rem 0 rgba(0, 0, 0, .2);
/* 
    /* background: -webkit-linear-gradient(rgb(52, 93, 240), rgb(108, 177, 255)); */
    /* -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */

    /* background-image: linear-gradient(to right, #0A58CA 25%, #4b82ee); */
    /* background-image: linear-gradient(to right, #0A58CA 25%, #31218c 5%, #e91e1e);  */

}
.home .content h3 .highlight-words{
    color: #ED1B30;
    background-color: white;
    font-size: 3.5rem;
    /* text-align: center; */
    /* font-family: 'Philosopher', sans-serif; */
    /* font-family: 'Merriweather Sans', sans-serif; */
    font-family: 'Open Sans', sans-serif;
    line-height: 1.8;
    text-shadow: .18rem .18rem 0 rgba(0, 0, 0, .2);
}

.home .content p{
    font-size: 1.5rem;
    color:var(--light-color);
    line-height: 1.8;
    padding: 1rem 0;
    font-family: 'PT Sans', sans-serif;
}


section{
    padding-top:2rem;

}
section:nth-child(even){
    /* background: #f5f5f5; */
    /* background: #0A58CA; */
    background: #4880d4;

}

section:nth-child(odd){
    background: #ffffff;
}

 
 @import url(https://fonts.googleapis.com/css?family=Varela+Round);
 .slides {
    padding: 0;
    width: 700px;
    height: 420px;
    display: block;
    margin: 0 auto;
    position: relative;
}

.slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.slides input { display: none; }

.slide-container { display: block; }

.slide {
    top: 0;
    opacity: 0;
    width: 700px;
    height: 420px;
    display: block;
    position: absolute;

    transform: scale(0);

    transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

.slide img {
    width: 100%;
    height: 100%;
}

.nav label {
    width: 200px;
    height: 100%;
    display: none;
    position: absolute;

    opacity: 0;
    z-index: 9;
    cursor: pointer;

    transition: opacity .2s;

    color: #FFF;
    font-size: 156pt;
    text-align: center;
    line-height: 380px;
    font-family: "Varela Round", sans-serif;
    background-color: rgba(255, 255, 255, .3);
    text-shadow: 0px 0px 15px rgb(119, 119, 119);
}

.slide:hover + .nav label { opacity: 0.5; }

.nav label:hover { opacity: 1; }

.nav .next { right: 0; }

input:checked + .slide-container  .slide {
    opacity: 1;

    transform: scale(1);

    transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .nav label { display: block; }

.nav-dots {
  width: 100%;
  bottom: 9px;
  height: 11px;
  display: block;
  position: absolute;
  text-align: center;
}

.nav-dots .nav-dot {
  top: -5px;
  width: 11px;
  height: 11px;
  margin: 0 4px;
  position: relative;
  border-radius: 100%;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.6);
}

.nav-dots .nav-dot:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.8);
}

input#img-1:checked ~ .nav-dots label#img-dot-1,
input#img-2:checked ~ .nav-dots label#img-dot-2,
input#img-3:checked ~ .nav-dots label#img-dot-3,
input#img-4:checked ~ .nav-dots label#img-dot-4,
input#img-5:checked ~ .nav-dots label#img-dot-5,
input#img-6:checked ~ .nav-dots label#img-dot-6 {
  background: rgba(0, 0, 0, 0.8);
}


.about .row{
    display: flex;
    /* align-items: center; */
    flex-wrap: wrap;
    gap:2rem;
}

.about .row .image{
    flex:1 1 45rem;
}

.about .row .image img{
    width: 100%;
    height:auto;
    max-height: 600px;
    /* height:200px; */
}

.about .row .content{
    flex:1 1 45rem;
}

.about .row .content h3{
    padding: 2rem 1rem 1rem 1rem;
    
    /* color: black; */
    color: white;
    /* text-shadow: .4rem .4rem 0 rgba(0, 0, 0, .2); */
    font-size: 3rem;
    line-height: 1.8;
    text-shadow: .1rem .1rem 0 rgba(0, 0, 0, .2);
    font-family: 'PT Sans', sans-serif;
}

.about .row .content p{
    color: rgb(255, 255, 255);
    padding:1rem 1rem;
    font-size: 1rem;
    line-height: 1.8;
    font-family: 'PT Sans', sans-serif;
}

.heading{
    text-align: center;
    padding-bottom: 2rem;
    /* text-shadow: .4rem .4rem 0 rgba(0, 0, 0, .2); */
    /* text-transform: uppercase; */
    /* color:black; */
    /* font-size: 3rem; */
    /* letter-spacing: .4rem; */
    font-family: 'Open Sans', sans-serif;
    color: white;


    font-size: 3.5rem;
    /* text-align: center; */
    /* font-family: 'Merriweather Sans', sans-serif; */
    /* color:var(--black); */
    line-height: 1.8;
    /* text-shadow: .4rem .4rem 0 rgba(0, 0, 0, .2); */
    text-shadow: .18rem .18rem 0 rgba(0, 0, 0, .2);

    text-decoration: underline;     
    text-decoration-color: white;  
    text-decoration-thickness: 5px;
    text-underline-offset: 10px;
}

.heading span{
    text-transform: uppercase;
    color:green;
}
