<!-- <nav class="navbar navbar-expand-lg fixed-top shadow p-3 mb-5 bg-white rounded">
    <div class="container">
      <a class="navbar-brand" href="#"> <i class="bi bi-heart-pulse-fill"></i> Medical Chatbot</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link text-secondary h6" href="#" routerLink = "/home" routerLinkActive= "active">Home</a>           
          </li>
          <li class="nav-item">
            <a class="nav-link text-secondary h6" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-secondary h6" href="#" routerLink = "/chatbot" routerLinkActive= "active">Chat</a>
          </li>
          <li class="nav-item">
            <nav>
              <a class="nav-link text-secondary h6" href="#">User experience</a>
            </nav>
          </li>
        </ul>
      </div>
    </div>
  </nav> -->
  
  <section class="home" id="home">
  
    <div class="image">
        <ul class="slides">
            <input type="radio" name="radio-btn" id="img-1" checked />
            <li class="slide-container">
            <div class="slide">
              <img src="../../assets/images/1.jpg" />
                </div>
            <div class="nav">
              <label for="img-6" class="prev">&#x2039;</label>
              <label for="img-2" class="next">&#x203a;</label>
            </div>
            </li>
        
            <input type="radio" name="radio-btn" id="img-2" />
            <li class="slide-container">
                <div class="slide">
                  <img src="../../assets/images/2.jpg" />
                </div>
            <div class="nav">
              <label for="img-1" class="prev">&#x2039;</label>
              <label for="img-3" class="next">&#x203a;</label>
            </div>
            </li>
        
            <input type="radio" name="radio-btn" id="img-3" />
            <li class="slide-container">
                <div class="slide">
                  <img src="../../assets/images/3.jpg" />
                </div>
            <div class="nav">
              <label for="img-2" class="prev">&#x2039;</label>
              <label for="img-4" class="next">&#x203a;</label>
            </div>
            </li>
        
            <input type="radio" name="radio-btn" id="img-4" />
            <li class="slide-container">
                <div class="slide">
                  <img src="../../assets/images/4.jpg" />
                </div>
            <div class="nav">
              <label for="img-3" class="prev">&#x2039;</label>
              <label for="img-5" class="next">&#x203a;</label>
            </div>
            </li>
        
            <input type="radio" name="radio-btn" id="img-5" />
            <li class="slide-container">
                <div class="slide">
                  <img src="../../assets/images/5.jpg" />
                </div>
            <div class="nav">
              <label for="img-4" class="prev">&#x2039;</label>
              <label for="img-6" class="next">&#x203a;</label>
            </div>
            </li>
        
            <input type="radio" name="radio-btn" id="img-6" />
            <li class="slide-container">
                <div class="slide">
                  <img src="../../assets/images/6.jpg" />
                </div>
            <div class="nav">
              <label for="img-5" class="prev">&#x2039;</label>
              <label for="img-1" class="next">&#x203a;</label>
            </div>
            </li>
        
            <li class="nav-dots">
              <label for="img-1" class="nav-dot" id="img-dot-1"></label>
              <label for="img-2" class="nav-dot" id="img-dot-2"></label>
              <label for="img-3" class="nav-dot" id="img-dot-3"></label>
              <label for="img-4" class="nav-dot" id="img-dot-4"></label>
              <label for="img-5" class="nav-dot" id="img-dot-5"></label>
              <label for="img-6" class="nav-dot" id="img-dot-6"></label>
            </li>
        </ul>
        
    </div>
  
    <div class="content">
      <h3>stay safe, stay healthy</h3>
      <p>Talk with our chatbot and find out how to prevent developing a heart disease!</p>
      <a href="#" class="btn"> contact us <span class="fas fa-chevron-right"></span> </a>
  </div>


  </section>
  
  <section class="about" id="about">

    <h1 class="heading"> <span>about</span> us </h1>

    <div class="row">

        <div class="image">
            <img src="../../assets/images/chat-bot-animate.svg" alt="">
        </div>

        <div class="content">
            <h3>we take care of your healthy life</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure ducimus, quod ex cupiditate ullam in assumenda maiores et culpa odit tempora ipsam qui, quisquam quis facere iste fuga, minus nesciunt.</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus vero ipsam laborum porro voluptates voluptatibus a nihil temporibus deserunt vel?</p>
            <a href="#" class="btn"> learn more <span class="fas fa-chevron-right"></span> </a>
        </div>

    </div>

</section>
